<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<header>
    <div class="header">
        <nav class="nav-bar">
            <div class="logo">
                <div class="circle blue"></div>
                <div class="circle yellow"></div>
                <div class="circle red"></div>
                <a href="/"><img th:src="@{img/EnjoyMDLogo.svg}" alt="" srcset=""></a>
            </div>
            <div class="menu">
                <span class="link-text"><a href="#">About us</a></span>
                <span class="link-text white-blue"><a href="/login">Sign in</a></span>
            </div>
        </nav>
    </div>
</header>
</body>
</html>
