<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{css/auth.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/null.css}">
    <title>EnjoyMD</title>
</head>
<body>
<div th:insert="header_fragment :: header"></div>
<div class="main">
    <div class="container">
        <form th:action="@{/login}" method="post">
            <div class="create-account">
                <h1>Login</h1>
            </div>
            <div class="field">
                <div class="field-name">Login/E-mail</div>
                <input type="text" name="username">
            </div>
            <div class="field">
                <div class="field-name">Password</div>
                <input type="password" name="password">
            </div>
            <div class="button">
                <button type="submit" class="auth-button">Login</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>