<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/post-template.css}">
    <title>Document</title>
</head>
<body>
<div class="post-block" th:fragment="postFragment(post)">
    <div class="post-wrapper">
        <div class="post-header">
            <div class="post-owner">
                <div class="post-avatar">
                    <img th:src="@{img/account-avatar-profile-user-6.svg}" alt="">
                </div>
                <div class="post-username" th:text="${post.author.username}"></div>
            </div>
            <div class="post-place" th:text="${post.location}">
            </div>
        </div>
        <div class="post-image">
            <img th:src="@{${post.fileName}}" alt="">
        </div>
        <div th:text="${post.description}" class="post-description">
        </div>
        <div class="post-feedback">
            <div class="post-activity">
                <div class="activity-icon">
                    <form th:action="'/main/toggleLike/' + ${post.id}" name="ourForm" method="post" class="like-form" th:data-post-id="${post.id}">
                        <button type="submit" name="ourForm__btn" class="like-button">
                            <img th:src="@{img/heart.svg}" alt="" class="like">
                        </button>
                    </form>
                    <span class="count" th:id="'like-count-' + ${post.id}" th:text="${post.likes.size()}"></span>
                </div>
                <div class="activity-icon">
                    <img th:src="@{img/comment-1.svg}" alt="" class="comment">
                    <div class="count">384</div>
                </div>
                <div class="activity-icon">
                    <img th:src="@{img/Subtract.svg}" alt="" class="repost">
                    <div class="count">49</div>
                </div>
            </div>
            <div class="post-views">
                <div class="view-icon">
                    <img th:src="@{img/view.svg}" alt="">
                </div>
                <div class="view-count">8000 <span> Views</span> </div>
            </div>
        </div>
        <div class="post-add-comment-block">
                <div class="avatar-post">
                    <img th:src="@{img/account-avatar-profile-user-6.svg}" alt="">
                </div>
            <form th:action="@{/comments/add}" method="post">
                <input type="hidden" name="postId" th:value="${post.id}">
                <input type="text" name="content"  class="post-add-comment" placeholder="Write a comment">
            </form>
        </div>
        <div class="comments">
            <h3>Comments</h3>
            <div th:each="comment : ${post.comments}">
                <p th:text="${comment.author.username + ': ' + comment.content}"></p>
                <small th:text="${#temporals.format(comment.createdAt, 'dd MMM yyyy HH:mm')}"></small>
            </div>
        </div>
    </div>
</div>
</body>
</html>
