<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{css/auth.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/null.css}">
    <title>EnjoyMD</title>
</head>
<body>
    <div th:insert="header_fragment :: header"></div>
    <div class="main">
        <div class="container">
            <form th:action="@{/register}" th:object="${user}" method="post">
                <div class="create-account">
                    <h1>Create Account</h1>
                </div>
                <div class="field">
                    <div class="field-name">Login</div>
                    <input type="text" th:field="*{username}" required>
                </div>
                <div class="field">
                    <div class="field-name">E-mail</div>
                    <input type="email" th:field="*{email}" required>
                </div>
                <div class="field">
                    <div class="field-name">Password</div>
                    <input type="password" th:field="*{password}" required>
                </div>
                <div class="button">
                    <button type="submit" class="auth-button">Register</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>